//// Colors
$clr1: #30BCED;
$clr2: #00dfc0;
$clr3: #EF476F ;
$white: #FCFFF7; 
$black: #262322;
$red: #F44336;
$green: #4CAF50;


//// Media break points
$break-mobile: 600px;
$break-narrow: 900px;
$break-wide: 1200px;

/// Others
$shadow: 0 3px 8px 0 rgba($black, .1);
$border-slight: 1px solid rgba($black, .1);
$bold: 0px 0px 1px currentColor;